.main-page {
  margin: 5rem 15rem;
}

.clipped {
  clip-path: polygon(30px 0, 0 30px, 70px 100px, 100px 70px);
}

@media (max-width: 768px) {
  .main-page {
    margin: 3rem;
  }
}

@media (max-width: 576px) {
  .main-page {
    margin: 3rem;
  }
}


